.app-main {
	margin-left: 320px;
	position: relative;
	overflow: hidden; // create a block formating context
	height: 100vh;
	padding: 1em;
	header {
		height: 65px;
		font-size: 2em; 
	}

	/* Extra Small Devices, Phones */ 
	@media only screen and (min-width : 480px) {

	}

	/* Medium Devices, Desktops */
	@media only screen and (min-width : 992px) {

	}

	


}