.app-nav {
	float: left;
	height: 100vh;
	width: 320px;
	background-color: #28aadc;
	color: white;
	position: relative;
	.logo {

		position: absolute;
		left: 50%; 
		transform: translate(-50%, 0);
		top: 4em;
		img {
			width: 9em;;
			height: auto;
		}
	}
	.title {
			margin-top: 7em;
			font-size: 2em;
			margin-left: 2em;
			color: white; 
	}
	.menu-list {
		margin-top: 4em; 
		padding-left: 0;
	}
	.menu-item {
		list-style: none;
		

		a {
			display: block;
			font-size: 20px; 
			line-height: 2em;
			text-decoration: none;
			transition: all 0.4s;
			padding-left: 0;
			text-align: center; 

			&:hover {
				color: white; 
				text-decoration: none;
				background-color: rgba(105, 105, 115, 0.27);

			}
		}
	}
	/* Medium Devices, Desktops */
	@media only screen and (max-width : 992px) {
		width: 200px;
		height: 100vh; 
		.logo {
			img {
				width: 6em;
			}
		}
		.title {
			font-size: 1.5em;
			margin-left: 1.5em;
		}
	}

	/* Extra Small Devices, Phones */ 
	@media only screen and (max-width : 480px) {
		display: block;
		height: auto;
		float: none;
		width: 100%;
		.logo {
			display: none;
		}
		.title {
			font-size: 1.6em;
			margin-top: 0;
			padding-top: 0.3em;
			text-align: center;
		}
		.menu-list {
			margin-top: 0;
		}
		.menu-item {
			text-align: center;
			a {
				padding-left: 0;
			}
		}

	}


}