.kwh_therm {
	display: inline-block;
	height: 88vh;
	overflow: scroll;
	width: 98%;
	padding-right: 1em;
	padding-bottom: 1em;

	th, td {
		text-align: right; 
	}

}
// .therm {
// 	display: inline-block;
// 	width: 45%;
// 	overflow: hidden;
// }